html, body{
  /* font-family:Arial; */
  margin:0;
  padding:0;
  height:100%;
  background-color: #303030;
  color: silver;
}

img{
  height:300px;
  width:400px;
  float:right;
  margin: 10px;
}
#wrapper{
  min-height:100%;
  position:relative;
}
.bar img{
  height:100px;
  width:100px;
  float:left;
  padding-top: 0;
}
#main{
  width: 75%;
  padding-top: 100px;
  border-right: dotted black 2px;
  height: 100%;
  padding-bottom: 50px;
  display: inline-block;
}
#sidebar{
  height:100%;
  width: 20%;
  float:right;
  padding-top: 100px;
  z-index: -1;
}
#footer{
  width:100%;
  height:50px;
  background-color: #3F3F3F;
  color:#FFFFFF;
  position:absolute;
  text-align: center;
  bottom:0;
  left:0;
  border-top:black dotted 2px;
}
.bar p{
  font-weight: bold;
  margin-left:100px;
}
.bar{
  width:100%;
  height:100px;
  background-color: #3F3F3F;
  color:#FFFFFF;
  position: fixed;
  border-bottom: black dotted 2px;
}
.bar p{
  position:absolute;
  bottom:0;
  padding-left: 20px;
}

#blog{
  padding-left: 15px;
  padding-bottom: 50px;
  padding-right:15px;
}
#date{
  padding: 10px 10px 0px 10px;
}
#footer div{
  padding-top:15px;
  position: absolute;
}
a:link,a:visited{
  color:#FFFFFF;
  text-decoration: none;
}
.links a{
  padding-right: 15px;
}

.links{
  margin:0 auto;
  width:100%;
  padding-top: 70px;
  position: fixed;
}
.bar div{
  text-align: right;
}

#signature{
  float:right;
  padding-right:20%;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 1.1em;
}