html, body{
  font-family: 'Press Start 2P';
  margin:0;
  padding:0;
  height:100%;
  background-color: #303030;
  color: silver;
}
h2{
  width: 400px;
  margin: 10px;
  float: left;
  font-size: 20px;
  font-style: italic;
}


#social{
  margin:10px;
  text-align: center;
}
#social a{
  padding-right:10px;
}
#wrapper{
  min-height:100%;
  position:relative;
}
.bar img{
  height:100px;
  width:100px;
  float:left;
  padding-top: 0;
}
#main{
  width: 100%;
  padding-top: 100px;
  height: 100%;
  padding-bottom: 50px;
  display: inline-block;
}
#sidebar{
  height: 100%;
  width: 285px;
  border-left: dotted black 2px;
  border-bottom: dotted black 2px;
  float: right;
  position: relative;
  background-color: rgba(63, 63, 63, 0.68);
}
#footer{
  width:100%;
  height:50px;
  background-color: #3F3F3F;
  color:#FFFFFF;
  position:absolute;
  text-align: center;
  bottom:0;
  left:0;
  border-top:black dotted 2px;
}
.bar p{
  font-weight: bold;
  margin-left:100px;
}
.bar{
  width:100%;
  height:100px;
  background-color: #3F3F3F;
  color:#FFFFFF;
  position: fixed;
  border-bottom: black dotted 2px;
  z-index: 1;
  min-width: 520px;
}
.bar p{
  /* position:absolute; */
  /* bottom:0; */
  font-size: 20px;
  padding-left: 20px;
}

#blog{
  width: 75%;
  float: left;
  clear: right;
}
#date{
  display: inline-block;
  width: 75%;
  float: left;
  /* clear: right; */
  margin-bottom: -10px;
  position: absolute;
}
#footer div{
  padding-top:15px;
  position: absolute;
}
a:link,a:visited{
  color:#FFFFFF;
  text-decoration: none;
}
.links a{
  padding-right: 25px;
}

.links{
  margin:0 auto;
  width:100%;
  padding-top: 70px;
  position: fixed;
}
.bar div{
  text-align: right;
  width: 90%;
  padding: 10px 10px 20px 0px;
  margin-left:100px;
}

/*#signature{
  float:right;
  padding-right:20%;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 1.1em;
}*/

@media screen and (max-width: 1150px){
  .bar div{
    display:none;
  }
}